////
/// Variable File
////

// Breakpoints
$breakpointNarrowPhone: 374px;
$breakpointPhone: 767px;
$breakpointTabletPortrait: 768px;
$breakpointTabletLandscape: 1024px;
$breakpointDesktop: 1025px;

// Typography
$font-family: 'Roboto', Helvetica;
$font-size: 16px;
$font-weight-std: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

// Colors
$background: white;
$pageTitle: black;

// Header
$headerBackground: #9fb5da;
