<div class="share-wrapper">
  <app-share #shareElement></app-share>
</div>
<div *ngIf="cityForecastData$ | async as cityForecastData">
  <div class="forecast-wrapper">
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="cityForecastData.temperatureOptions">
      </highcharts-chart>
    </div>
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="cityForecastData.humidityOptions">
      </highcharts-chart>
    </div>
  </div>
</div>
<app-spinner *ngIf="cityForecastLoading$ | async"></app-spinner>
