<div class="wrapper" *ngIf="forecastData">
  <h1 class="page-title">
    {{forecastData.city.name}}
  </h1>
  <div class="forecast" *ngIf="cityForecastData$ | async as cityForecastData">
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="cityForecastData.temperatureOptions"
        [runOutsideAngular]="true">
      </highcharts-chart>
    </div>
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="cityForecastData.humidityOptions"
        [runOutsideAngular]="true">
      </highcharts-chart>
    </div>
  </div>
  <app-share class="share" #shareElement></app-share>
</div>
<app-spinner *ngIf="cityForecastLoading$ | async"></app-spinner>
