////
/// Core File
////

@import 'functions';
@import 'variables';
@import 'base';
@import 'modules';

h1.page-title {
  font-size: torem(40px);
  font-weight: $font-weight-bold;
  color: $pageTitle;
  margin: 0;
  text-align: center;
}
